target/
.mvn/wrapper/maven-wrapper.jar
.git/
.gitignore
.gitattributes
.idea/
.vscode/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
HELP.md
README.md
Dockerfile
.dockerignore
docker-compose.yml
uploads/
*.log
